.app_content {
  width: 1200px;
  padding: 0 0 0 20px;
}

.right {
  float: right;
}

/*** Index styles ***/
.notifications_list {
  width: 1100px;
  border-top: 1px solid #eee;
}

.notifications_list .list_title {
  height: 35px;
  line-height: 35px;
  font-weight: bold;
}

.notifications_list .list_item {
  height: 35px;
  line-height: 35px;
  padding-left: 20px;
  border-top: 1px solid #eee;
}

.notifications_list .list_item .list_action.edit {
  color: green;
  font-weight: bold;
}

.notifications_list .item_name {
  display: inline-block;
}

.notifications_list .actions {
  display: inline-block;
}

.notifications_list .actions .list_action {
  display: inline-block;
}

.notifications_list .hover_actions {
  display: none;
}

.notifications_list .list_item:hover .hover_actions {
  display: inline-block;
}

/*** Form Styles ***/
.frame {
  padding: 7px 15px 20px 13px;
  margin: 9px 8px 10px -12px;
  background: #fff;
  min-width: 590px;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: none !important;
  clear: both;
}

.frame.rule_conditions {
  margin-top: 12px;
}

h3.rule_conditions, h3.rule_actions {
  padding-top: 8px;
  font-size: 14px;
  color: #444;
}

span.invert {
  background: #F3F3F3;
  padding: 2px 5px;
  border: 1px solid #A8A8A8;
}

.frame h3.light {
  color: #ddd;
  float: left;
  margin-top: 3px;
  padding: 0;
}

.add {
  height: 37px;
  border-bottom: 1px solid #f0f0f0;
}

.title {
  width: 97%;
}

.conditions {
  margin: 11px 0 7px 0;
  padding: 7px 0 0 12px;
  border-top: 1px solid #f0f0f0;
}

.action {
  margin-top: 15px;
  padding-top: 0;
  padding-right: 33px;
  text-align: right;
  color: #666;
  font-size: 12px;
  clear: both;
}

.button.primary, .button.save {
  background-color: #404040;
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF555555', endColorstr='#FF222222', GradientType=0);
  border-color: #222222 #222222 black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.button.primary, .button.save, .button_disabled.primary, .button_disabled.save {
  color: white;
  text-shadow: inherit;
}

.actions .button, .actions .buttonsubmit, .action .button, .action .buttonsubmit {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
